<footer>
  <div class="footer">
    <img src="/img/d_icon.png" alt="" />
    <div class="links">
      <a href="/contact" class="nav-link">Contact</a>
      <a href="/about" class="nav-link">About</a>
      <a href="/cart" class="nav-link">Order now</a>
    </div>

    <div class="card-body">
      <hr />
      <p class="card-text">
        By continuing past this page, you agree to our Terms of Service, Cookie
        Policy, Privacy Policy and Content Policies. All trademarks are
        properties of their respective owners. 2024 © DélicesEnLigne.fr™ Ltd.
        All rights reserved.
      </p>
    </div>
  </div>
</footer>
